
span {
    display: block;
    background-color: rgb(43, 56, 56);
    min-height: 10vh;
    width: 100%;
    padding: 0;
    margin-top: 40px;
}

h1 {
    display: inline-block;
    background-color: rgba(145, 142, 142, 0.849);
    border-radius: 15px;
    margin-top: 170px;
    margin-bottom: 170px;
    padding-left: 7px;
    padding-right: 7px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgb(59, 95, 100);    
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-hero {
    overflow-x: hidden;
    padding-top: 80px;
    align-items: center;
    background-image: url(../Components/Assets/hero.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 20px;
}

.blank-space-1 {
    display: block;
    background-color: rgb(43, 56, 56);
    min-height: 10vh;
    width: 100%;
    padding: 0;
    margin-top: 0;
}

@media(max-width: 600px){
    h1 {
        font-size: 35px;
    }
}